[
{
    "protocol": "telegram",
    "token": "insert token here"
},

//NOTE: IRC Support not really done
{
  "protocol": "irc",
  "network": "irc.6697.eu",
  "channels": ["#test"],
  "nick": "JoshBot"
}
]
